#cont {
    background-color: rgb(0, 228, 61);
    width: 60rem;
}

body {
    background-color: #008ba3;
}

header {
    background-color: rgb(255, 251, 10);
    height: 80px;
    font-size: 35pt;
    font-weight: bold;
    text-align: center;
}

.log {
    float: left;
}

p {
    font-size: 20px;
    font-weight: bold;
}
